@media(max-width:768px){
    .tienda{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "especialidades"
    "caprese"
    "cuatroquesos"
    "jym";
 }
}


 @media(max-width:768px){
    .sobrenosotros{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "sobrenosotros"
    "texto"
    "video";
    }
}