// variables globales
$mainColor: rgb(165, 46, 46);
$secondaryColor: rgb(194, 206, 28);
$skeyColor: rgb(71, 182, 76);
$tercerColor: black;
$hovercolor: #fcf9f9;

// fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Lobster', cursive;
$textP: 1.5em;
$textSm: 2em;
$textMd: 3em;
$textLg: 4em;
$textLight: 500;

